.home {
  display: flex;
  flex-direction: column;
  .home-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    color: white;
  }
  
  .home-main {
    align-self: center;
    width: 90%;
    max-width: 70rem;
    // border: 1px solid black;
    .home-section-title {
      font-size: 2rem;
      font-weight: bold;
      margin: 1rem 0 0.5rem 0;
    }
    .home-modules {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0.5rem;
      .home-module-card {
        margin: 0.5rem;
      }
    }
  }
}