// .network-viewer {
//   display: flex;
//   flex-direction: column;
//   height: 100%;
// }

.network-viewer-file-input-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  height: 100%;
}